* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}
body {
    font-size: 18px;
    background: #D8A997;
}
.form-dog {
    width: 980px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 100px;
}
/* div image left */
.img-dog {
    background:#7F7182;
    width: 250px;
    flex: 1;
    position: relative;
    padding-top: 40px;
}
.text-image {
    text-align: center;
    font-weight: 900;
}
.fa-paw {
    color: #7F7182;
    background: #F7B3AB;
    font-size: 30px;
    border-radius: 100%;
    padding: 10px;
    margin-right: 5px;
    transform: rotate(-40deg);
}
.title-left {
    display: inline;
    font-size: 30px;
}
.img-dog img {
    height:200px;
    background: transparent;
    opacity:50%;
    filter: grayscale(0.5);
    display: block;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/* form */
    /* CSS chung */
.form {
    background: #FAC7C3;
    flex: 2;
}
.content-form {
    padding:40px 50px;
}
input,.div-button {
    border: 1px solid #F0E2DC;
    border-radius: 5px;
    padding: 6px;
    font-size: 18px;
    margin-top: 10px;
    background: white;
    width: 100%;
}
button {
    color: black;
    border-radius: 5px;
}
    /* CSS riêng */
.content-form>p {
    font-size: 30px;
    font-weight: 900;
}    
.row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.col {
    width: 220px;    
}
input {
    color: #868686;
    font-size:14px;
    height: 30px;
}
input[type="image"] {
    background: white;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    padding: 9px;
}
.div-button {
    display: flex;
}
.button-select {
    border: 1px solid white;
    background: white;
    padding: 5px;
    font-size:16px;
    flex: 1;
}
.button-select:hover,.button-select:active {
    border: 1px solid #D4AAA7;
    background: #F5B0AA;
    padding: 5px;
}
.row-last {
    width: 100%;
    margin-top: 20px;
}
/* button nack next */
.next-back {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    background:white;
    height:40px;
}
.button-end {
    border: 1px solid #7C6D7E;
    padding: 10px 40px;
    border-radius: 30px;
    background: white;
}
.button-end:hover {
    background: #7C6D7E;
    color: white;
    border-radius: 30px;
    background: #7F7182;
}