*{
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
body {
    background: #BFBFBF;
}
/*  menu by float */
.menu-by-float{
    margin: 20px auto;
    width:80%;
}
h1{
    font-size: 40px;
    margin-bottom: 40px;
}
.a-firt{
    color: blue;
}

.khung-menu {
    background: #FF7F50;
    height:49px;
}
.visit{
    text-align: center;
}
ul.menu {
    list-style:none;
    display: inline;
    margin: 0;
    padding: 0;
    width: 100%;
}
li.content-menu {
    padding: 15px;
    float: left;
}
li a {
    text-decoration:none;
}
li:hover {
    background: #898989;
}
li:active {
    background: #3E4745;
}
li:last-child{
    float: right;
}

/* Over menu by flex */