* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  body {
    background: #C9DBE7;
  }
  a {
    text-decoration: none;
  }
  .container {
    width: 790px;
    height: 850px;
    margin: 90px auto;
    border-radius: 7px;
    box-shadow: 0px 2px #838D92;
    display: flex;
    overflow: hidden;
  }
  /* Col list-friend */
  .container .list-friend-box {
    background: #454753;
    color: #fff;
    padding: 15px 30px 15px 19px;
    width: 270px;
    box-sizing: border-box;
    height: 100%;
    
    border: 1px solid #4D5761;
    border-right: none;
  
  }
    /* searchfriend */
  .container .list-friend .search-friend {
    width: 90%;
    height: 100px;
    position: relative;
  }
      /* button input search */
  .container .list-friend-box .list-friend .search-friend input{
    width: 100%;
    color: #fff;
    border-radius:6px;
    background: #696C73;
    border: 1px solid #575962;
    padding: 15px 10px;
    font-size: 17px;
    position: absolute;
    top: 0;
    left: 0;
  }
      /* placeholder in input search */
  .container .list-friend input::placeholder {
    color: #aaabac;
    opacity: .7;
    font-size: 20px;
  }
  .container .list-friend .fas {
    position: absolute;
    display: block;
    color: #E5E8ED;
    top: 0;
    right: 0;
    font-size: 17px;
    margin: 20px 0 ;
  }
    /* list friend */
  .container .list-friend .list-friend-content {
    width: 100%;
  }
  /* one person */
   .container .list-friend .list-friend-content .one-person {
    width: 100%;
    height: 60px;
    display: flex;
    margin: 20px 0;
    box-sizing: border-box;
  }
  .one-person:first-child {
    margin-top: 10px !important;
  }
    /* avata */
  .avata {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  .list-friend-content img {
    border: 4px solid rgba(219,216,216,.2);
  }
  
  .list-friend-content .name-status {
    padding: 7px 0;
    box-sizing: border-box;
    font-weight: 600;
  }
    /* status */
  .list-friend-content .Name {
    font-size: 14px;
    text-transform: capitalize;
    color: #E9EBF4;
  }
  .list-friend-content .status {
    display: flex;
  }
  .list-friend-content .status .circle {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    margin: 5px 7px 5px 0;
  }
  .list-friend-content .status .circle.ofline {
    background: #DE8F71;
    border: 1px solid #876962;
    box-sizing: border-box;
  }
  .list-friend-content .status .circle.online {
    background: #8DBA79;
    border: 1px solid #526452;
    box-sizing: border-box;
  }
  .list-friend-content .status .status {
    color: #909298;
    font-size: 13px;
    line-height: 20px;
  }
  /* col box-chat */
  .container .box-chat {
    width: 520px;
    height: 100%;
    background: #F4F5FA;
    box-sizing: border-box;
  }
  .box-chat .who-chat {
    display: flex;
    height: 60px;
    padding: 25px 20px;
    border-bottom: 3px solid #FDFEFF;
    box-shadow: 0 2px 2px rgba(240,240,240,.5);
  }
  .ava-chatting {
    border: 5px solid rgba(56, 184, 75, 0.5);
  }
  .name-status-chatting {
    width: 380px;
    padding: 10px 0;
  }
  .who-chatting {
    font-size: 18px;
    color: black;
    font-weight: 900;
  }
  .Name-chatting {
    text-transform: capitalize;
  }
  .status-chatting {
    color: gray;
    font-weight: 400;
    font-size: 13px;
  }
  .box-chat .who-chat .fa-star {
    font-size: 20px;
    color: #DEDFE5;
    margin: auto;
  }
  /* chat content */
  .chat-content {
    padding: 15px 30px;
    height: 530px;
    border-bottom: 3px solid #FDFEFF;
    box-shadow: 0 2px 2px rgba(240,240,240,.5);
  }
  .messenger {
    margin-bottom: 20px;
    clear: both;
    /* position: relative; */
  }
  /* .messenger .chat-content-box.by-me {
    position: absolute;
    top: 0;
    right: 0;
  } */
    /* who chat */
  .messenger .name-time-chat {
    font-size: 14px;
  }
  .messenger .name-time-chat.by-other {
    display: flex;
    justify-content: flex-start;
  }
  .messenger .name-time-chat .circle-chat {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    margin: 5px 7px 5px 0;
    box-sizing: border-box;
    margin-top: 8px;
  }
  .messenger .name-time-chat.by-me {
    display: flex;
    flex-direction: row-reverse;
  }
  .messenger .name-time-chat p {
    line-height: 23px;
  }
  .messenger .name-time-chat .circle-chat.by-other {
    background: #92B57A;
    border: 1px solid #9DBB94;
  }
  .messenger .name-time-chat .circle-chat.by-me {
    background: #9EC2E6;
    border: 1px solid #B5CCE2;
  }
  .messenger .name-time-chat .name-chat {
    color: #47484E;
    margin-right: 10px;
    font-weight: 900;
  }
  .messenger .name-time-chat .time-chat {
    font-size: 13px;
    margin-right: 10px;
    color: rgb(162, 162, 162);
  }
  .messenger .name-time-chat .time-send {
    text-transform: uppercase;
    font-family: cursive;
  }
    /* messenger content */
  .messenger-content {
    max-width: 400px;
  }
  /* .messenger-content .container-chat {
    position: relative;
  } */
  .messenger-content .container-chat .triangle{
    height: 0px;
    width: 0px;
  }
  .messenger-content .triangle.by-other {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #91BA78;
    margin-left: 25px;
  }
  .messenger-content .triangle.by-me {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #9DC3E8;
    float: right;
    margin-right: -20px;
  }
  .messenger-content .container-chat .content-chat{
    padding: 25px 25px;
    color: white;
    margin-bottom: 25px;
  }
  .messenger-content .content-chat.by-other {
    background: #91BA78;
    border-radius: 10px;
  }
  .messenger-content .content-chat.by-me {
    background: #9DC3E8;
    border-radius: 10px;
    float: right;
    clear: right;
    margin-right: -60px;
  }
  div.messenger:last-of-type {
    margin-bottom: 10px;
  }
  .loading {
    display: flex;
    width: 40px;
    justify-content: space-between;
  }
  div[class^=circle-]{
    height: 9px;
    width: 9px;
    border-radius: 50%;
  }
  .loading .circle-one {
    background: #93B87B;
  }
  .loading .circle-two {
    background: #B6D3B1;
  }
  .loading .circle-three {
    background: #DDE6DF;
  }
  /* Over box chatting */
  /* typing input */
  .typing {
    padding: 30px;
  }
  .input-chat::placeholder {
    color: #838383;
  }
  textarea {
    width: 100%;
    padding: 10px 20px;  
    box-sizing: border-box;
    border: 1px solid #F8FAFB;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .typing .send .fa-file {
    color: #BABBBD;
    margin-right: 10px;
    font-size: 20px;
  }
  .typing .send .fa-file-image {
    color: #BABBBD;
    font-size: 20px;
  }
  .typing .send .send-button {
    float: right;
    color: #A5BCD6;
    font-size: 20px;
    font-weight: 600;
    clear: both;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 15px;
  }